.button-bg{
    display: flex;
    justify-content: center;
}
button{
    border-radius: 5px;
    background: white;
    border: solid black 1px;
    padding: 0.5em 1.5em;
    margin: 0.5em;
    font-size:medium;
}