.wrap-segments{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em 0;
}
.segment-one, .segment-two{
    display: flex;
    flex-direction: row;
}