*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}
.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 35%;
  position: sticky;
  aspect-ratio: inherit;
}
.logo img{
  width: 26.5rem;
  height: 10.5rem;
}
.media-links {
  display: flex;
  gap: 5px;
  margin-left:40%;
}
.media-icons {
  width: 28px;
  height: 28px;
  cursor: pointer;
}