footer{
    background:#202e38;
    color:white;
    width: 100%;
}
.footer-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 8em;
    padding: 3em;
}
footer .logo img{
    height: 74px;
    width: 184px;
}
.footer-text{
    display: flex;
    flex-direction: column;
    gap: 2em;
    font-size: 16px;
}
.footer-text p{
    cursor: pointer;
}
.indent{
    text-indent: 5em;
}